.cardInfo {
    background: rgba(255, 255, 255, 0.2);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #ffffff;
    /* backdrop-filter: blur(5px); */
    border-radius: 10px;
    padding: 15px 32px;
    margin-bottom: 1rem;
    z-index: 0;
}

.colItem {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.colItem p:first-child {
    font-weight: 500;
}

.colItem p {
    margin: 0;
    font-size: 18px;
}

.infoLabel {
    display: block;
}

.iconMobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .cardInfo {
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
    }

    .colItem p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .infoLabel {
        display: none;
    }
    
    .iconMobile {
        display: block;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .cardInfo {
        margin-bottom: 2rem;
    }

    .colItem p {
        font-size: 20px;
    }
}