.sectionMain {
    height: 100vh;
    background-image: url("../../../public/images/sky-1.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    color: var(--color-primary);
}

.sectionMain::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.35);
}

.contentMain {
    width: var(--container-width);
    margin: auto;
    position: relative;
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
}

@media only screen and (max-width: 1000px) {
    .contentMain {
        width: 100%;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .contentMain {
        width: var(--container-lg-width);
    }
}
