:root {
    --color-blue: #0056a6;
}

.screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .spinner-load {
    width: 10rem;
    height: 10rem;
    border-top: 7px solid #000;
    border-right: 5px solid #000;
    border-left: 2px solid #000;
    border-radius: 50%;
    animation: rotate 800ms linear infinite;
} */

.spinner-load {
    width: 2.5rem;
    height: 2.5rem;
    border-top: 4px solid var(--color-blue);
    border-right: 4px solid var(--color-blue);
    /* border-bottom: 1px solid var(--color-blue); */
    border-left: 1px solid var(--color-blue);
    border-radius: 50%;
    animation: rotate 800ms linear infinite;
    position: relative;
    margin: auto;
    top: 137px;
}

.img-loading-section {
    width: 450px;
    height: 450px;
    background-image: url("../../../public/images/bg-loading-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.loading-title {
    text-align: center;
    animation: pulse 1500ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }
}
