.logo {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-primary);
}

.container {
    width: 100%;
    display: flex;
    padding: 0 45px;
    justify-content: space-between;
}

.navLinks {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
    margin: auto 10px;
    text-decoration: none;
}

.navLinks:hover {
    color: black;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        display: flex;
        padding: 0 0.5rem;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;
        display: flex;
        padding: 0 90px;
        justify-content: space-between;
    }
}
