.logo {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-primary);
}

.container {
    width: 100%;
    display: flex;
    padding: 0 90px;
    justify-content: space-between;
}

.navLinks {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
    margin: auto 10px;
    text-decoration: none;
}

.navLinks:hover {
    color: black;
}