.screen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #A0EDFD;
    background-image: linear-gradient(0deg, #a0edfd -10%, #0278fe 80%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        height: 100vh;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.35);
    }
}

.section-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    z-index: 1;
    color: var(--color-primary);
}

.logo-img {
    max-width: 160px;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.logo-subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    height: max-content;
}

.section-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    z-index: 1;
    color: var(--color-primary);
}

.info-title {
    font-weight: 500;
    text-align: center;

    h4 {
        margin: 0;
    }
}

.info-loader {
    text-align: center;
    margin: 3rem 0;
}

.loader-catavento {
    max-width: 90px;
    width: 100%;
    height: auto;
    animation: rotate 1.5s linear infinite;
}

.info-error {
    text-align: center;
    margin: 3rem 0;
}

.info-subtitle {
    font-size: 22px;
    font-weight: 300;
    text-align: center;

    p > span {
        font-weight: 600;
    }
}

.section-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--color-primary);
    z-index: 1;

    p {
        margin: 0;
    }
}

.madeby-footer {
    font-size: 14px;

    a {
        font-weight: 500;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: var(--color-yellow);
            text-decoration: underline;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }
}

@media only screen and (max-width: 600px) {
    .info-subtitle {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .screen-container {
        padding: 0 0.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .section-logo {
        margin-top: 2.5rem;
    }

    .logo-img {
        max-width: 190px;
        margin-bottom: 0.5rem;
    }

    .logo-subtitle {
        font-size: 26px;
    }

    .info-title h4 {
        font-size: 36px;
    }

    .info-loader {
        margin: 5rem 0;
    }

    .loader-catavento {
        max-width: 150px;
    }

    .info-subtitle {
        font-size: 32px;
    }

    .copyright-footer {
        font-size: 20px;
    }

    .madeby-footer {
        font-size: 16px;
    }
}
