$colorDarkBlue: #0f4c8e;

.footer {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.footerTransparent {
    position: relative;
    top: var(--navbar-height);
    background-color: transparent;
    color: inherit;
}

.footerColorful {
    background-color: $colorDarkBlue;
    color: var(--color-primary);
}

.footer_text {
    text-align: center;

    p {
        margin-bottom: 0;
    }

    p.madeby {
        font-size: 14px;

        a {
            color: inherit;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                color: var(--color-yellow);
                text-decoration: underline;
            }
        }
    }
}
