:root {
  --color-primary: #fafafa;
  --navbar-height: 56px;
  --container-width: 1000px;
  --container-lg-width: 1140px;
  --color-gray-500: #2C2F33;
  --color-gray-700: #23272A;
}

/* @font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Thin.ttf");
  font-weight: 100;
  font-display: swap;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter";
  font-weight: 400;
}

.cardIconWeather {
  margin-bottom: 0.5rem;
}

.navbar-fill {
  /* background-color: #282b30; */
  background-color: var(--color-gray-700);
  transition: all 0.3s ease-in-out;
}

.btn-default{
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--color-primary);
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  outline: none;
  font-weight: 600;
  transition: all 1s linear ease;
}

.btn-default:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-weight: 600;
}

.row {
  margin: 0;
}