:root {
  --color-primary: #fafafa;
  --navbar-height: 56px;
  --footer-height: 77px;
  --container-width: 1000px;
  --container-lg-width: 1140px;
  --color-gray-500: #2C2F33;
  --color-gray-700: #23272A;
  --color-yellow: #ffce3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter";
  font-weight: 400;
}

.cardIconWeather {
  margin-bottom: 0.5rem;
}

.navbar-fill {
  background-color: var(--color-gray-700);
  transition: all 0.3s ease-in-out;
}

.btn-default{
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--color-primary);
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  outline: none;
  font-weight: 600;
  transition: all 1s linear ease;
}

.btn-default:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-weight: 600;
}

.row {
  margin: 0;
}