:root {
  --color-primary: #fff;
  --navbar-height: 56px;
  --container-width: 1000px;
  --container-lg-width: 1140px;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/Inter-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter";
  font-weight: 400;
}

.card-header-custom {
  padding: 1rem 1rem 0;
}

.titleCard {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0;
}

.card-body-custom {
  padding: 0;
  padding-bottom: 0.5rem;
}

.cardIconWeather {
  margin-bottom: 0.5rem;
}

.navbar-fill {
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}

.row {
  margin: 0;
}
